* {
  box-sizing: border-box;
}

header {
  background-color: #333333;
  height: 120px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

main {
  width: 1024px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.job {
  height: 328px;
  width: calc(100% / 3 - 40px / 3);
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.job:not(:nth-child(3n)) {
  margin-right: 20px;
}

h2 {
  font-size: 30px;
}

.red {
  border-color: red;
}

.yellow {
  border-color: yellow;
}

.green {
  border-color: green;
}

.blue {
  border-color: blue;
}

.pink {
  border-color: pink;
}

footer {
  background-color: #333333;
  height: 120px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
